# ~/.ssh/config
#
# @vlasebian

## ssh shortcut example
#
# Use `ssh <alias>` to connect to the specified host using the alias configured
# below
#
# Host <alias>
#   HostName <host-name>
#   User <user>
#   Port <port>
#

Host github.com
    StrictHostKeyChecking no
